.sidebar {
    background-color: #2b2b2b;
    width: 260px;
    padding: 0 25px;
    box-sizing: border-box;

    h3 {
        font-size: 18px;
    }

    .thread-item {
        border: 1px solid rgba($color: white, $alpha: 0.1);
        font-size: 15px;
        padding: 10px 15px 10px 30px;
        border-radius: 4px;
        position: relative;
        user-select: none;

        &::before {
            content: '';
            width: 4px;
            height: 4px;
            background: white;
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            overflow: hidden;
            white-space: nowrap;
        }

        p {
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}